$background-color: #3A342F;
$box-color: #4E463F;
$box-shadow: #2D2926;

body {
    height: 100vh;
    background: $background-color;
    color: #fff;
    width: 100%;
}

button {
    background-color: #fff;
    &:hover {
        background-color: #eef;
	color: #e1e1e1;
    }
}
